﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>User: @(Session["userId"] == null ? "unknown" : Session["userId"])</div>

        @RenderBody()
    </div>
</body>
</html>
