﻿@{
    ViewBag.Title = "Error";
}

<h2>An error has occured. <br/>Feel free to contact the admin.</h2>
<b>Error details:</b>@(TempData["errorMessage"] == null ? "No details" : TempData["errorMessage"])

<br /><br />
@Html.ActionLink("Home", "Index")