﻿@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Please Login or Register.</p>

<p>
    @Html.ActionLink("Login", "Login", "Account", new { }, null)
</p>


<p>
    @Html.ActionLink("Register", "Register", "Account", new { }, null)
</p>
