﻿@model Common.UserViewModel

<div>
    <h4>User and Applications</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateViewModel.StateDescript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateViewModel.StateDescript)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleViewModel.RoleDescript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleViewModel.RoleDescript)
        </dd>

    </dl>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationViewModel.ElementAt(0).AppID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationViewModel.ElementAt(0).AppDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationViewModel.ElementAt(0).AppType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationViewModel.ElementAt(0).AppDateCreated)
        </th>
    </tr>

    @foreach (var item in Model.ApplicationViewModel)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppDateCreated)
            </td>
            <td>
               @Html.ActionLink("View Errors", "AppErrors", "Error", new { appID = item.AppID }, null)
            </td>

        </tr>
    }

</table>

