﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_Shared/_LayoutMaster.cshtml";
}

<h2>An error has occured. Feel free to contact the admin.</h2>
<b>Error details:</b>@(TempData["errorMessage"] == null ? "No details" : TempData["errorMessage"])

<br /><br />
@Html.ActionLink("Home", "Index")